################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Caustic
/Caustic/Caustic.vcxproj.user
/bin/Debug-x64/&(ProjectName)
/bin-int/Debug-x64/&(ProjectName)
/Caustic/Homework.ppm
/Caustic/CRT_Homework_4.ppm
/Caustic/resources
